.App {
  font-family: sans-serif;
  text-align: center;
}

.suggestion-card > div,
.movie-card img {
  transition: all 300ms ease;
  cursor: pointer;
  border: solid 2px rgba(255, 255, 255, 0.3);
}
.suggestion-card:hover > div,
.movie-card img:hover {
  transform: scale(0.96);
}
.suggestion-card .selected {
  border-color: rgb(255, 255, 255);
  transform: scale(0.94);
}

@keyframes toggleIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.suggestion-slide,
.movie-card {
  position: relative;
  animation: toggleIn 1s 1;
}

.home-page {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.suggestion-bg {
  transform-style: preserve-3d;
  transform: translateZ(-10px) scale(2);
  z-index: -1;
}

.suggestion-slide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 58%,
    rgba(9, 9, 121, 0) 100%
  );
}
